<!DOCTYPE html>
<html>

<head>
  <title>Lista de Users</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

  <font color="red">
    <center>
      <h1><u><b>Full Cycle Rocks!</b></u></h1>
    </center>
  </font>

  <% if (messages.success) { %>
    <p class="alert alert-success mt-4">
      <%- messages.success %>
    </p>
    <% } %>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Sobre Nome</th>
            <th scope="col">Endereço</th>

          </tr>
        </thead>
        <tbody>
          <% if(data.length){ for(var i=0; i< data.length; i++) {%>
            <tr>
              <td>
                <%= data[i].id%>
              </td>
              <td>
                <%= data[i].nome%>
              </td>
              <td>
                <%= data[i].sobrenome%>
              </td>
              <td>
                <%= data[i].endereco%>
              </td>
            </tr>
            <% } }else{ %>
              <tr>
                <td colspan="3">No user</td>
              </tr>
              <% } %>

        </tbody>
      </table>
</body>

</html>